datasets/StarLightCurves/*.txt filter=lfs diff=lfs merge=lfs -text
datasets/StarLightCurves/*.arff filter=lfs diff=lfs merge=lfs -text
datasets/StarLightCurves/*.ts filter=lfs diff=lfs merge=lfs -text
